@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap");
body {
  background-color: #ffffff;
  margin: 0%;
  cursor: auto;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: rgb(46, 46, 46);
}
.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(170, 170, 170, 0.608);
  box-shadow: 0px 1px 10px rgba(186, 184, 184, 0.58);
}
.nav_left {
  padding-left: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.web_name {
  font-size: 25px;
  color: black;
}
.hov_nav {
  margin: 20px;
  position: relative;
}
.nav_top_arrow {
  display: flex;
  align-items: center;
}
.h4_arrow {
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
}
.full_layer {
  display: none;
  flex-direction: column;
  width: 350px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid grey;
  /* align-items: center; */
  /* padding-left: 40px; */
  left: -10px;
  z-index: 5;
}
.hov_layer {
  border-bottom: 1px solid grey;
}
#exit {
  height: 22px;
  width: 22px;
  border: 1px solid black;
  color: #ffffff;
  background-color: #000000;
  border-radius: 45%;

  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 92%;
  margin-top: 5px;
}

/* .hov_nav:hover .full_layer{
    display: block;
    width: 350px;
    padding-top: 10px;
} */
.hotel {
  display: flex;
  padding: 20px 30px;
}
.hotel:hover {
  background-color: rgb(223, 240, 255);
}
.first {
  margin: 0% 30px;
}

.second {
  padding: 15px 30px;
  margin: 0%;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.second:hover {
  background-color: rgb(223, 240, 255);
}
.nav_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  padding-right: 40px;
  font-weight: 300;
}
.download_arr {
  font-weight: 200;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid grey;
  border-radius: 30px;
  margin: 0px 5px;
}
.download_arr:hover {
  background-color: aliceblue;
}
.lang {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  /* border: 1px solid grey; */
  /* border-radius: 30px; */
  margin: 10px 10px;
}
.download_arr i {
  color: rgb(0, 94, 255);
}
.lang i,
.download_arr i {
  font-size: 20px;
  /* margin-right: -10px; */
}
.third {
  margin: 0px 10px;
}
.profile {
  display: none;
}
.third:hover,
.message:hover,
.lang:hover {
  color: rgb(0, 98, 255);
}
.message {
  font-size: 20px;
  margin: 10px;
}

.background_top {
  margin-top: 50px;
  width: 93%;
  position: relative;
  margin: 50px 50px;
}
.full_box {
  border: 1px solid rgb(168, 167, 167);
  border-radius: 15px;
  height: 200px;
  width: 100%;
}
.menu {
  height: 25%;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px solid rgb(168, 167, 167);
}
.checkboxes {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 5px 280px;
}
ul > li {
  font-size: 20px;
  list-style-type: none;
  padding: 3px 50px 0px 50px;
  padding-bottom: 15px;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}
ul > li:hover {
  border-bottom: 1px solid rgb(0, 94, 255);
  color: rgb(0, 94, 255);
}
.bg_top_header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: aqua; */
  height: 149px;
  width: 100%;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}
.input {
  margin: 5px 5px 5px 10px;
  height: 50px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border: 1px solid black;
  font-family: sans-serif;
  padding-left: 40px;
  position: relative;
}
.input:hover {
  border: 1px solid rgb(0, 94, 255);
}
.in_but {
  background-color: rgb(0, 94, 255);
  color: #ffffff;
  height: 50px;
  border-radius: 40px;
  border: 1px solid rgb(0, 94, 255);
  width: 80px;
  margin-right: 8px;
}
.in_but:hover {
  background-color: rgb(2, 67, 179);
}
.in_but-2{
    display: none;
    height: 200px;
    width: 100%;
}
.check {
  font-family: sans-serif;
  font-size: 15px;
  /* color: black; */
}
.checbox {
  color: black;
  margin-left: 15px;
}
.loc {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  align-items: center;
  position: relative;
}
.loc i {
  position: absolute;
  top: 23px;
  left: 25px;
  z-index: 2;
}
.save10 {
  display: flex;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  color: #ffffff;
  margin: 10px 47px;
  background-color: rgb(29, 21, 56);
}
.save10 i {
  margin: 30px;
}
.discount_10 {
  color: #ffffff;
  width: 60%;
  margin: 10px;
  font-size: 15px;
}
.save_30 {
  background-color: rgb(0, 94, 255);
  margin: 10px;
  padding: 10px;
  border-radius: 40px;
  border: 1px solid rgb(0, 94, 255);
  color: #ffffff;
}
.save_30:hover {
  background-color: rgb(2, 67, 179);
  border: 1px solid rgb(2, 67, 179);
}
.onekey {
  margin: 0px 10px;
  padding: 10px;
  color: #ffffff;
}

.beach_txt {
  margin: 50px 50px;
  display: flex;
  /* justify-content:center ; */
  height: 250px;
  width: 93%;
  position: relative;
}
.beach_img {
  object-fit: cover;
  object-position: center;
  border-radius: 0px 15px 15px 0px;
  width: 50%;
}
.bch_text {
  height: 100%;
  width: 50%;
  background-color: rgb(208, 233, 255);
  border-radius: 15px 0px 0px 15px;
  /* padding: 2%; */
}
.new {
  margin: 25px 15px;
  padding: 5px;
  background-color: black;
  color: #ffffff;
  width: 6%;
  align-content: center;
  font-size: 13px;
  border-radius: 15px;
}
.earn {
  margin: 15px 15px;
  color: black;
}
.after {
  width: 50%;
  margin: 15px 15px;
  color: black;
}
.more {
  margin: 15px 15px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(0, 94, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.more:hover {
  background-color: rgb(222, 237, 250);
}
.img_abs {
  position: absolute;
  top: 8%;
  left: 44%;
  height: 50px;
  width: 30px;
}
p {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 35px;
  margin: 10px 50px;
}

.all_cards {
  height: 400px;
  position: relative;
  margin: 20px 20px 10px 10px;
  overflow: hidden;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 320px;
  gap: 15px;
  transition: all 0.5s ease-in-out;
}
.card {
  position: relative;
  height: 300px;
  width: 320px;
}
#image {
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  /* border: 1px solid black; */
  height: 300px;
  width: 320px;
}

.slides {
  position: absolute;
  top: 225px;
  left: 10px;
  font-size: 15px;
  color: #ffffff;
  padding: 15px;
  background-color: #003b5c;
  border-radius: 10px;
}
.scroll_1 {
  position: absolute;
  top: 0%;
  left: -10px;
  width: 100.75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  display: none;
}
.all_cards:hover .scroll_1 {
  display: block;
  width: 100.75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
#next,
#back_prev {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 40px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20%;
  margin-left: 10px;
}
.swiming {
  position: relative;
}
.swim {
  margin: 0px 50px;
  border-radius: 15px;
}
.swim_txt {
  position: absolute;
  top: 120px;
  width: 30%;
  height: 220px;
  left: 100px;
  /* z-index: 2; */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}
.Labor {
  font-size: 35px;
}
.book {
  font-size: 14px;
  margin: 15px 5px;
  font-weight: 500;
  font-family: sans-serif;
  word-spacing: 5px;
}
.unlock {
  border-radius: 40px;
  width: 200px;
  height: 60px;
  margin: 5px;
  background-color: rgb(0, 94, 255);
  color: #ffffff;
  border: 1px solid rgb(0, 94, 255);
}
.unlock:hover {
  background-color: rgb(2, 67, 179);
  border: 1px solid rgb(2, 67, 179);
}

.TRENDING_STAY {
  height: 380px;
  /* background-color: beige; */
  width: 93%;
  margin: 0px 40px;
  position: relative;
}
.TRENDING_line {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.destinations {
  height: 300px;
  width: 300px;
  padding: 10px 0px;
  display: flex;
  gap: 28px;
  transition: all 0.5s ease-in-out;
}
.location {
  background-color: rgb(249, 255, 255);
  height: 250px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid rgb(168, 167, 167);
}
#loc_img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0px 0px;
}
.locat {
  width: 100%;
  margin: 5px 20px 0px 20px;
  font-size: 20px;
  font-weight: bolder;
}
.locat-2 {
  width: 100%;
  margin: 5px 20px 0px 20px;
  font-size: 15px;
}
.scroll-2 {
  display: flex;
  justify-content: space-between;
  width: 105.5%;
  position: absolute;
  top: 60%;
  /* height: 300px; */
  margin: 0px 0px 0px -30px;
  display: none;
}
.TRENDING_STAY:hover .scroll-2 {
  display: block;
  display: flex;
  justify-content: space-between;
  width: 105.5%;
  position: absolute;
  top: 60%;
  /* height: 300px; */
  margin: 0px 0px 0px -30px;
}
.nxt,
.back {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 40px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20%;
  margin-left: 10px;
}
.destinations-2{
    display: none;
}
.sand-sea {
  margin: 50px 10px 20px 20px;
  border-radius: 20px;
  height: 700px;
  width: 97%;
  position: relative;
  background-color: #000000;
  overflow: hidden;
}
.sand {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
  object-fit: cover;
  object-position: center;
}
.over-sand {
  height: 700px;
  width: 100%;
  padding: 0px 8%;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  /* filter: blur(10px 50px 10px rgb(0, 0, 0) ); */
  /* left: 50px; */
}
.last-min {
  position: absolute;
  top: 80px;
  left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
}
.seeall {
  height: 40px;
  width: 140px;
  border: 1px solid white;
  border-radius: 40px;
  color: blue;
}
.min-deals {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
}
.p-dates {
  position: absolute;
  top: 132px;
  left: -10px;
  color: rgb(237, 234, 234);
  font-size: 15px;
}
#p-dates {
  position: absolute;
  top: 115px;
  left: 190px;
  color: white;
  font-size: 18px;
}
.all_resorts-2{
    display: none;
}
.all_resorts {
  height: 450px;
  width: 300px;
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
  position: absolute;
  top: 200px;
  left: 20px;
  transition: all 0.5s ease-in-out;
}
.resort {
  height: 600px;
  width: 300px;
  border-radius: 20px;
}
#res_img {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}
.p-city {
  /* position: absolute; */
  /* left:-50px ; */
  font-size: 13px;
  color: white;
  margin: 0px;
  font-weight: bolder;
}
#p-name {
  margin: 0px 0px 0px 0px;
  font-size: 23px;
  color: white;
}
.review {
  display: flex;
  height: 25px;
  gap: 5px;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
}
.rev {
  background-color: rgb(24, 134, 24);
  height: 25px;
  width: 35px;
  border: 1px solid rgb(24, 134, 24);
  color: black;
  border-radius: 10px;
}
.revs {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}
.price-res {
  color: white;
  margin: 7px 0px;
}
.dis_res {
  background-color: rgb(37, 115, 37);
  height: 35px;
  width: 75px;
  border: 1px solid rgb(37, 115, 37);
  color: white;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bolder;
}
#btn-fuck {
  position: absolute;
  align-items: center;
  display: flex;
  top: 300px;
  justify-content: space-between;
  /* height: 800px; */
  width: 100%;
  /* margin: -100px; */
  display: none;
}
.btn_prev,
.btn_next {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  color: #000000;
  /* display: none; */
}
.sand-sea:hover #btn-fuck {
  display: block;
  display: flex;
  /* position: absolute; */
  /* top: 150px; */
  /* left: 0px; */
  justify-content: space-between;
  align-items: center;
  /* width: 1280px; */
}
.second-resort {
  position: relative;
  height: 450px;
  width: 95%;
  margin: 50px 10px 20px 40px;
  overflow: hidden;
  border-radius: 20px;
}
.all_resorts-sec{
    display: none;
}
.all_resorts-second {
  display: flex;
  gap: 30px;
  height: 450px;
  width: 300px;
  transition: all 0.5s ease-in-out;
}
#btn-fuck-2 {
  position: absolute;
  align-items: center;
  display: flex;
  top: 150px;
  justify-content: space-between;
  width: 100%;
  display: none;
}
.btn_next-2,
.btn_prev-2 {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  color: #000000;
}
.second-resort:hover #btn-fuck-2 {
  display: block;
  display: flex;
  justify-content: space-between;
}
.p-city-2 {
  /* position: absolute; */
  /* left:-50px ; */
  font-size: 13px;
  color: rgb(0, 0, 0);
  margin: 0px;
  font-weight: bolder;
}
#p-name-2 {
  margin: 0px 0px 0px 0px;
  font-size: 23px;
  color: rgb(0, 0, 0);
}
.review-2 {
  display: flex;
  height: 25px;
  gap: 5px;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
}
.rev-2 {
  background-color: rgb(24, 134, 24);
  height: 25px;
  width: 35px;
  border: 1px solid rgb(24, 134, 24);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
.revs-2 {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bolder;
}
.price-res-2 {
  color: rgb(0, 0, 0);
  margin: 7px 0px;
}
.dis_res-2 {
  background-color: rgb(37, 115, 37);
  height: 35px;
  width: 75px;
  border: 1px solid rgb(37, 115, 37);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 17px;
  font-weight: bolder;
}
#res_img-2 {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.traditions_all {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 94%;
  height: 400px;
  margin: 10px 40px 10px 40px;
  /* background-color: #003B5C; */
}
.tradition {
  height: 400px;
  width: 30%;
}
.img-tradition {
  height: 260px;
  width: 379px;
  object-fit: c;
  object-position: center;
  border-radius: 20px;
}
.eat-txt {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0%;
  font-weight: lighter 600;
}
.eat-seee {
  margin-top: 0%;
  color: black;
  font-size: 20px;
}
.traditions_all-2{
    width: 95.5%;
    margin: 10px;
    height: 500px;
}
.img-tradition-2 {
  height: 350px;
  width: 625px;
  border-radius: 20px;
  object-fit: fill;
  object-position: center;
}
footer {
  background-color: #00355f;
  color: #ffffff;
  margin-bottom: 0%;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerr {
  font-size: 20px;
  padding:0px;
  margin: 0%;
}

@media screen and (max-width: 500px) {
  .hov_nav {
    display: none;
  }
  /* .nav_top_arrow,.h4_arrow,.full_layer{
        display: none;
    } */
  .lang,
  .third,
  .message {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    z-index: 10;
    align-items: center;
    border-bottom: 1px solid rgba(170, 170, 170, 0.608);
    box-shadow: 0px 1px 10px rgba(186, 184, 184, 0.58);
  }
  .nav_left,
  .nav_right {
    padding: 20px;
  }
  .web_img {
    height: 25px !important;
    width: 25px !important;
  }
  .web_name {
    font-size: 20px;
    word-spacing: 0%;
    margin-right: 20px;
  }
  .nav_right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .profile {
    display: block;
    font-size: 23px;
  }

  .third-3 {
    font-size: 10px;
  }

  .background_top {
    margin: 30px 10px;
    width: 95.5%;
    height:420px;
  }
  .full_box {
    height: 420px;
    width: 100%;
  }
  .menu {
    height: 10.73%;
    background-color: #e8e7e7;
  }
  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0%;
    align-items: center;
    margin: 0%;
  }
  ul > li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px 15px 0px 15px;
    padding-bottom: 17px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }

  ul > li:hover {
    border-bottom: 1px solid rgb(0, 94, 255);
    color: rgb(0, 94, 255);
  }
  .bg_top_header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: normal;
    gap: 10px;
    padding-top: 15px;
    height: 260px;
  }
  .loc{
    width: 98.5%;
  }
  .checkboxes{
    display: flex;
    justify-content: inherit;
    gap: 10px;
  }
  .in_but{
    display: none;
  }
  .in_but-2{
    display: block;
    background-color: rgb(0, 94, 255);
    color: #ffffff;
    height: 60px;
    border-radius: 40px;
    border: 1px solid rgb(0, 94, 255);
    width: 90%;
    margin: 20px 20px;
  }
  .in_but-2:hover {
    background-color: rgb(2, 67, 179);
  }
  .save10{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 95.5%;
    height: 200px;
    gap: 10px 20px;
  }
  .save_30{
    margin-left: 50px;
  }
  .beach_txt{
    margin: 30px 10px;
    width: 95.5%;
    height: 450px;
    display: flex;
    flex-direction: column-reverse;
  }
  .bch_text{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
  .beach_img{
    width: 100% !important;
    height: 200px;
    object-fit: fill;
    object-position: center;
    border-radius: 10px 10px 0px 0px ; 
  }
  .img_abs{
    position: absolute;
    top: 120px;
    left: 170px;
  }
  .img_card{
    height: 150px !important;
    width:120px !important;
  }
  .new{
    width: 12%;
    font-size: inherit;
    border-radius: 10px;
    padding: 5px 0px 5px 12px;
  }
  .p-dis{
    font-size: 22px;
    padding:0%;
    margin: 10px;
  }
  .all_cards{
    margin: 10px;
    width: 95.5%;
    height: 400px;
    overflow: hidden;
  }
  .cards{
    height: 100%;
    width: 233.75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
  }
  .card {
    position: relative;
    height: 95%;
    width: 233.75px;
  }
  #image{
    object-fit: fill;
  object-position: center;
  border-radius: 10px;
  height: 90%;
  width: 233.75px;
  }
  .scroll_1{
    position: absolute;
    height: 400px;
    width: 102%;
    top: -10px;
    left: -10px;
    /* display: none; */
  }
  .all_cards:hover .scroll_1 {
    display: block;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 102%;
    top: -10px;
    left: -10px;
  }
  #next,
  #back_prev {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20%;
    margin-left: 10px;
  }
  .slides{
    position: absolute;
    top: 265px;
  }
  .swiming{
    display: flex;
    flex-direction: column-reverse;
    position: inherit;
    margin: 10px;
    width: 95.5%;
    height: 440px;
    /* background-color: #00355f; */
    border: 1px solid rgb(174, 174, 174);
    border-radius: 10px;
  }
  .swim{
    height: 220px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border-radius: 0px 0px 10px 10px;
    object-fit: cover;
    object-position: center;
  }
  .swim_txt{
    position: inherit;
    height: 220px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border-radius: 10px 10px 0px 0px;
  }
  .TRENDING_STAY {
    height: 450px;
    width: 95.5%;
    margin: 0px 10px;
    position: relative;
    overflow: hidden;
  }
  .TRENDING_line {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .destinations{
    display: none;
  }
  .destinations-2{
    display: block;
    height: 350px;
    width: 460px;
    padding: 10px 0px;
    display: flex;
    gap: 10px;
    transition: all 0.5s ease-in-out;
  }
  .location-2 {
    background-color: rgb(249, 255, 255);
    height: 350px;
    width: 455px;
    border-radius: 20px;
    border: 1px solid rgb(168, 167, 167);
  }
  #loc_img-2 {
    width: 455px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
  }
  .locat {
    width: 100%;
    margin: 5px 20px 0px 20px;
    font-size: 20px;
    font-weight: bolder;
  }
  .locat-2 {
    width: 100%;
    margin: 5px 20px 0px 20px;
    font-size: 15px;
  }



  .TRENDING_STAY:hover .scroll-2 {
    left: 20px;
    position: absolute;
    top: 180px;
    width: 102%;
    z-index: 10;
  }
  .sand-sea{
    margin: 10px 0px 10px 10px ;
    border-radius: 10px 0px 0px 10px;
    width: 95.5%;
    height: 750px;
  }
  .sand{
    border-radius: 10px 10px 10px 10px;
    height: 750px;

  }
  .over-sand{
    border-radius: 10px 0px 0px 10px;
    height: 750px;
    
  }
  .last-min {
    position: absolute;
    top: 40px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
  }
  .seeall {
    height: 40px;
    width: 140px;
    border: 1px solid white;
    border-radius: 40px;
    color: blue;
  }
  .min-deals {
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 55%;
    font-family: sans-serif;
  }
  .p-dates {
    position: absolute;
    top: 132px;
    left: -40px;
    color: rgb(237, 234, 234);
    font-size: 15px;
  }
  #p-dates {
    position: absolute;
    top: 115px;
    left: 160px;
    color: white;
    font-size: 18px;
  }
  .all_resorts{
    display: none;
  }
  .all_resorts-2{
    /* overflow: hidden; */
    display: block;
    height: 550px;
    width: 440px;
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
    position: absolute;
    top: 200px;
    left: 20px;
    transition: all 0.5s ease-in-out;
  }
  .resort-2 {
    height: 500px;
    width: 440px;
    border-radius: 20px;
  }
  #res_img_2 {
    height: 300px;
    width: 420px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }
  .second-resort{
    margin: 10px;
    width: 95.5%;
    height: 500px;
    overflow: hidden;
  }
  .all_resorts-second{
    display: none;
  }
  .all_resorts-sec {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    transition: all 0.5s ease-in-out;
  }
  #btn-fuck-2 {
    position: absolute;
    align-items: center;
    display: flex;
    top: 150px;
    justify-content: space-between;
    width: 100%;
    display: none;
  }
  .btn_next-2,
  .btn_prev-2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    color: #000000;
  }
  .second-resort:hover #btn-fuck-2 {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .p-city-2 {
    /* position: absolute; */
    /* left:-50px ; */
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin: 0px;
    font-weight: bolder;
  }
  #p-name-2 {
    margin: 0px 0px 0px 0px;
    font-size: 23px;
    color: rgb(0, 0, 0);
  }
  .review-2 {
    display: flex;
    height: 25px;
    gap: 5px;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 10px;
  }
  .rev-2 {
    background-color: rgb(24, 134, 24);
    height: 25px;
    width: 35px;
    border: 1px solid rgb(24, 134, 24);
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .revs-2 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bolder;
  }
  .price-res-2 {
    color: rgb(0, 0, 0);
    margin: 7px 0px;
  }
  .dis_res-2 {
    background-color: rgb(37, 115, 37);
    height: 35px;
    width: 75px;
    border: 1px solid rgb(37, 115, 37);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 17px;
    font-weight: bolder;
  }
  #res_img-3{
    height: 250px;
    width: 442px;
    border-radius: 10px;
  }
  .resort-3{
    border: 1px solid grey;
    border-radius: 10px;
   
  }
  .traditions_all{
    display: flex;
    flex-direction: column;
    height: 1100px;
    margin: 50px 10px;
    width: 95.5%;
    gap: 20px;
  }
  .tradition {
    height: 350px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
  }
  .img-tradition {
    height: 260px;
    width: 100%;
    object-fit: c;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
  }
  .eat-txt {
    font-family: sans-serif;
    font-size: 13px;
    margin: 10px 0%;
    font-weight: lighter 600;
  }
  .eat-seee {
    margin-top: 0%;
    color: black;
    font-size: 15px;
  }
  .traditions_all-2{
    width: 95.5%;
    height: 950px;
    margin: 10px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.tradition2{
    border: 1px solid grey;
    border-radius: 20px;
}
.img-tradition-2 {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0px 0px;
}
.foot {
    background-color: #00355f;
    color: #ffffff;
    margin-bottom: 0%;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerr {
    font-size: 12px;
    margin: 0%;
    padding: 0%;

  }
}
