body{
   padding: 0%;
   margin: 0%;
   overflow-x: hidden;
}
.slider{
    height: 350px;
    /* width: 600px; */
    /* border: 2px solid red; */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
margin: 0px;
}
.slides{

    display: flex;
    transition: all .6s ease-in-out;
    height: 350px;
    width: 442px;
    border: 2px solid red;
    gap: 5px;
    
}

#image{
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid black;
    height: 350px;
    width: 442px;
}
.buttons{
    position:absolute;
    top: 80px;
    cursor: pointer;
    /* left: 410px; */
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-between;
    align-items: center;
}
.btns{
    border-radius: 10px;
    /* height: 30px;
    width: 60px; */
    /* background-color: black; */
    color: aliceblue;
    display: none;
    padding: 10px 20px;
}
.buttons:hover .btns{
display: block;
}
i{
    font-size: 30px;
    color: black;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid black;
}
.img_on_js{
    /* background-color: black; */
    width: 200px;
    height: 200px;
    margin: 30px 20px;

}
.box{
    margin: 20px;
}
#lake{
    display: none;
}
.box-js{
    border-radius: 10px;
    background-color: aqua;
    height: 250px;
    width: 250px;
    /* padding: 50px; */
    margin: 20px;
}
#popup{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, .2);
    display: none;
    text-align: center;
}
#model-box{
    background-color: rgba(127, 255, 212, 0.425);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    padding: 10px 20px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
    margin:20px auto;
    /* z-index: 10; */
}
.container{
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
#open_btn{
    /* position: absolute;
    top: 80%; */
    background-color: rgb(255, 69, 230);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.product-image {
    width: 100px;
    height: 100px;
}

.product-name {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: green;
}
